.projectCard {
    background-color: #dbd8cb; /* Fond plus moderne */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre */
    transition: transform 0.3s ease-in-out;
    margin-top: 7em;
    width: calc(30% - 40px);


    flex-direction: column;

    height: 100%;
    
}

.projectCard:hover {
    transform: scale(1.05); /* Effet au survol */
}

.projectImg {
    width: 250px;
    border-radius: 8px;

}




.codeSource, .demo {
    background-color: #4D4040;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
    font-family: "Academy Engraved LET", sans-serif;

    height: 40px;
    line-height: 1.5;

    margin-top: auto;

}


.codeSource:hover, .demo:hover {
    background-color: #b5802a;
    transform: scale(1.1);
}
.projectName{
    font-size: 2em;
    font-family: "Academy Engraved LET", sans-serif;
    background-color: #4D4040;
    border-radius: 10px;
    color: white;
    height: 40px;
    line-height: 1.7;
    background-size: auto;

}
.projectDescription{
    font-size: 1.3em;
    font-family: "Academy Engraved LET", sans-serif;

}