.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
    font-family: "Academy Engraved LET", sans-serif;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.icons a {
    display: inline-block;
    transition: transform 0.2s ease;
}

.icons a:active {
    animation: icon-click 0.3s ease;
}

@keyframes icon-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

h1 {
    font-size: 6em;
    margin-bottom: 0;
}
h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    font-size: 2em;
    max-width: 600px;
}
button {
    background-color: #4D4040;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: "Arial", sans-serif;
    border: 2px solid #4D4040;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-family: "Academy Engraved LET", sans-serif;
    height: 50px;
    line-height: 1.9;
    
    
}

button:hover {
    background-color: transparent;
    border-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

