.title{
    font-size: 5em;
    font-family: "Academy Engraved LET", sans-serif;
    color: white;
    margin-top: 2em;
}
.fProjects{
    display: flex;
    gap: 60px;
}

.sProjects{
    display: flex;
    gap: 60px;
    justify-content: center;
}